# Preprocessing & feature Engineering

## 1. Preprocessing 
- Data shape
- Column prerocessing

## 2. Feature/Data Transformation
- Outlier  
- New feature

## 3. Missing Data Imputation
- Regression
- Mean

## 4. Dimensionality Reduction
- Features with Bad or Constant Data
- Multicollinearity and Variance Inflation Factor

In [1]:
%matplotlib inline
pd.options.mode.chained_assignment = None
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

import warnings
warnings.filterwarnings("ignore")
import sys
import datetime
import scipy as sp
import statsmodels.stats.api as sms
import statsmodels.api as sm
from patsy import dmatrix
from sklearn.base import BaseEstimator, RegressorMixin
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.metrics import r2_score
from statsmodels.stats.outliers_influence import variance_inflation_factor
import utils.preprocessing as pp 
import utils.correlation as cr
import utils.statsmodel_helper as st

df_macro = pd.read_csv('../code/data/macro.csv', parse_dates=['timestamp'])
df_train = pd.read_csv('../code/data/train.csv', index_col=0, parse_dates=['timestamp'])
df_test = pd.read_csv('../code/data/test.csv', index_col=0, parse_dates=['timestamp'])

## 1. Preprocessing 
- Data merge
- Column prerocessing

### Data merge

In [2]:
df_train.shape

(30471, 291)

In [3]:
df_train.tail(1)

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area,area_m,raion_popul,green_zone_part,indust_part,children_preschool,preschool_quota,preschool_education_centers_raion,children_school,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,hospital_beds_raion,healthcare_centers_raion,university_top_20_raion,sport_objects_raion,additional_education_raion,culture_objects_top_25,culture_objects_top_25_raion,shopping_centers_raion,office_raion,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,full_all,male_f,female_f,young_all,young_male,young_female,work_all,work_male,work_female,ekder_all,ekder_male,ekder_female,0_6_all,0_6_male,0_6_female,7_14_all,7_14_male,7_14_female,0_17_all,0_17_male,0_17_female,16_29_all,16_29_male,16_29_female,0_13_all,0_13_male,0_13_female,raion_build_count_with_material_info,build_count_block,build_count_wood,build_count_frame,build_count_brick,build_count_monolith,build_count_panel,build_count_foam,build_count_slag,build_count_mix,raion_build_count_with_builddate_info,build_count_before_1920,build_count_1921-1945,build_count_1946-1970,build_count_1971-1995,build_count_after_1995,ID_metro,metro_min_avto,metro_km_avto,metro_min_walk,metro_km_walk,kindergarten_km,school_km,park_km,green_zone_km,industrial_km,water_treatment_km,cemetery_km,incineration_km,railroad_station_walk_km,railroad_station_walk_min,ID_railroad_station_walk,railroad_station_avto_km,railroad_station_avto_min,ID_railroad_station_avto,public_transport_station_km,public_transport_station_min_walk,water_km,water_1line,mkad_km,ttk_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,ID_big_road1,big_road1_1line,big_road2_km,ID_big_road2,railroad_km,railroad_1line,zd_vokzaly_avto_km,ID_railroad_terminal,bus_terminal_avto_km,ID_bus_terminal,oil_chemistry_km,nuclear_reactor_km,radiation_km,power_transmission_line_km,thermal_power_plant_km,ts_km,big_market_km,market_shop_km,fitness_km,swim_pool_km,ice_rink_km,stadium_km,basketball_km,hospice_morgue_km,detention_facility_km,public_healthcare_km,university_km,workplaces_km,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,mosque_km,theater_km,museum_km,exhibition_km,catering_km,ecology,green_part_500,prom_part_500,office_count_500,office_sqm_500,trc_count_500,trc_sqm_500,cafe_count_500,cafe_sum_500_min_price_avg,cafe_sum_500_max_price_avg,cafe_avg_price_500,cafe_count_500_na_price,cafe_count_500_price_500,cafe_count_500_price_1000,cafe_count_500_price_1500,cafe_count_500_price_2500,cafe_count_500_price_4000,cafe_count_500_price_high,big_church_count_500,church_count_500,mosque_count_500,leisure_count_500,sport_count_500,market_count_500,green_part_1000,prom_part_1000,office_count_1000,office_sqm_1000,trc_count_1000,trc_sqm_1000,cafe_count_1000,cafe_sum_1000_min_price_avg,cafe_sum_1000_max_price_avg,cafe_avg_price_1000,cafe_count_1000_na_price,cafe_count_1000_price_500,cafe_count_1000_price_1000,cafe_count_1000_price_1500,cafe_count_1000_price_2500,cafe_count_1000_price_4000,cafe_count_1000_price_high,big_church_count_1000,church_count_1000,mosque_count_1000,leisure_count_1000,sport_count_1000,market_count_1000,green_part_1500,prom_part_1500,office_count_1500,office_sqm_1500,trc_count_1500,trc_sqm_1500,cafe_count_1500,cafe_sum_1500_min_price_avg,cafe_sum_1500_max_price_avg,cafe_avg_price_1500,cafe_count_1500_na_price,cafe_count_1500_price_500,cafe_count_1500_price_1000,cafe_count_1500_price_1500,cafe_count_1500_price_2500,cafe_count_1500_price_4000,cafe_count_1500_price_high,big_church_count_1500,church_count_1500,mosque_count_1500,leisure_count_1500,sport_count_1500,market_count_1500,green_part_2000,prom_part_2000,office_count_2000,office_sqm_2000,trc_count_2000,trc_sqm_2000,cafe_count_2000,cafe_sum_2000_min_price_avg,cafe_sum_2000_max_price_avg,cafe_avg_price_2000,cafe_count_2000_na_price,cafe_count_2000_price_500,cafe_count_2000_price_1000,cafe_count_2000_price_1500,cafe_count_2000_price_2500,cafe_count_2000_price_4000,cafe_count_2000_price_high,big_church_count_2000,church_count_2000,mosque_count_2000,leisure_count_2000,sport_count_2000,market_count_2000,green_part_3000,prom_part_3000,office_count_3000,office_sqm_3000,trc_count_3000,trc_sqm_3000,cafe_count_3000,cafe_sum_3000_min_price_avg,cafe_sum_3000_max_price_avg,cafe_avg_price_3000,cafe_count_3000_na_price,cafe_count_3000_price_500,cafe_count_3000_price_1000,cafe_count_3000_price_1500,cafe_count_3000_price_2500,cafe_count_3000_price_4000,cafe_count_3000_price_high,big_church_count_3000,church_count_3000,mosque_count_3000,leisure_count_3000,sport_count_3000,market_count_3000,green_part_5000,prom_part_5000,office_count_5000,office_sqm_5000,trc_count_5000,trc_sqm_5000,cafe_count_5000,cafe_sum_5000_min_price_avg,cafe_sum_5000_max_price_avg,cafe_avg_price_5000,cafe_count_5000_na_price,cafe_count_5000_price_500,cafe_count_5000_price_1000,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
30473,2015-06-30,43,28.0,1.0,9.0,1.0,1968.0,2.0,6.0,2.0,Investment,Novogireevo,4395332.782,94561,0.063755,0.038693,6120,2215.0,4,6533,5824.0,4,0,1015.0,2,0,7,1,no,0,5,1,no,no,no,yes,no,no,no,no,72131,34296,37835,13523,6724,6799,56908,27219,29689,24130,7105,17025,6120,3096,3024,6533,3192,3341,14994,7422,7572,17070,7717,9353,11903,5928,5975,304.0,108.0,2.0,0.0,105.0,4.0,85.0,0.0,0.0,0.0,303.0,1.0,2.0,220.0,66.0,14.0,49,0.584636,0.45465,5.455795,0.45465,0.093619,0.37895,0.848766,0.559699,0.455194,10.45101,1.791075,8.334879,2.037754,24.453053,31.0,2.037754,3.604917,31,0.250151,3.001814,0.518509,no,1.920884,6.809408,9.675169,10.228634,11.812614,1.920884,1,no,2.08923,10,0.734949,no,12.243439,5,5.645123,3,3.261652,14.359141,0.999365,1.832979,5.239948,1.415294,14.028112,1.902431,0.819001,2.370789,1.684764,3.641656,0.812511,0.633901,8.868202,0.964828,2.731394,3.065101,0.224601,2.108265,0.825811,0.37895,0.480531,0.867332,8.987913,0.688707,0.127867,2.477068,0.182831,poor,0.0,1.26,0,0,3,6906,4,400.0,750.0,575.0,0,2,2,0,0,0,0,1,0,0,4,0,0,3.46,5.41,0,0,4,25106,11,581.82,1045.45,813.64,0,3,6,1,1,0,0,2,1,0,4,3,0,19.95,2.41,0,0,5,39106,17,600.0,1058.82,829.41,0,4,9,3,1,0,0,2,1,0,4,6,1,23.49,1.35,0,0,5,39106,26,538.46,942.31,740.38,0,10,11,4,1,0,0,2,3,0,5,12,2,28.52,3.87,6,155237,13,545023,47,595.65,1054.35,825.0,1,13,24,6,2,1,0,3,7,0,7,26,4,25.1,10.16,15,351244,22,646575,93,664.44,1127.78,896.11,3,26,35,22,5,2,0,7,16,0,9,54,10,5600000

In [4]:
df_test.shape

(7662, 290)

In [5]:
df_test.tail(1)

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area,area_m,raion_popul,green_zone_part,indust_part,children_preschool,preschool_quota,preschool_education_centers_raion,children_school,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,hospital_beds_raion,healthcare_centers_raion,university_top_20_raion,sport_objects_raion,additional_education_raion,culture_objects_top_25,culture_objects_top_25_raion,shopping_centers_raion,office_raion,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,full_all,male_f,female_f,young_all,young_male,young_female,work_all,work_male,work_female,ekder_all,ekder_male,ekder_female,0_6_all,0_6_male,0_6_female,7_14_all,7_14_male,7_14_female,0_17_all,0_17_male,0_17_female,16_29_all,16_29_male,16_29_female,0_13_all,0_13_male,0_13_female,raion_build_count_with_material_info,build_count_block,build_count_wood,build_count_frame,build_count_brick,build_count_monolith,build_count_panel,build_count_foam,build_count_slag,build_count_mix,raion_build_count_with_builddate_info,build_count_before_1920,build_count_1921-1945,build_count_1946-1970,build_count_1971-1995,build_count_after_1995,ID_metro,metro_min_avto,metro_km_avto,metro_min_walk,metro_km_walk,kindergarten_km,school_km,park_km,green_zone_km,industrial_km,water_treatment_km,cemetery_km,incineration_km,railroad_station_walk_km,railroad_station_walk_min,ID_railroad_station_walk,railroad_station_avto_km,railroad_station_avto_min,ID_railroad_station_avto,public_transport_station_km,public_transport_station_min_walk,water_km,water_1line,mkad_km,ttk_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,ID_big_road1,big_road1_1line,big_road2_km,ID_big_road2,railroad_km,railroad_1line,zd_vokzaly_avto_km,ID_railroad_terminal,bus_terminal_avto_km,ID_bus_terminal,oil_chemistry_km,nuclear_reactor_km,radiation_km,power_transmission_line_km,thermal_power_plant_km,ts_km,big_market_km,market_shop_km,fitness_km,swim_pool_km,ice_rink_km,stadium_km,basketball_km,hospice_morgue_km,detention_facility_km,public_healthcare_km,university_km,workplaces_km,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,mosque_km,theater_km,museum_km,exhibition_km,catering_km,ecology,green_part_500,prom_part_500,office_count_500,office_sqm_500,trc_count_500,trc_sqm_500,cafe_count_500,cafe_sum_500_min_price_avg,cafe_sum_500_max_price_avg,cafe_avg_price_500,cafe_count_500_na_price,cafe_count_500_price_500,cafe_count_500_price_1000,cafe_count_500_price_1500,cafe_count_500_price_2500,cafe_count_500_price_4000,cafe_count_500_price_high,big_church_count_500,church_count_500,mosque_count_500,leisure_count_500,sport_count_500,market_count_500,green_part_1000,prom_part_1000,office_count_1000,office_sqm_1000,trc_count_1000,trc_sqm_1000,cafe_count_1000,cafe_sum_1000_min_price_avg,cafe_sum_1000_max_price_avg,cafe_avg_price_1000,cafe_count_1000_na_price,cafe_count_1000_price_500,cafe_count_1000_price_1000,cafe_count_1000_price_1500,cafe_count_1000_price_2500,cafe_count_1000_price_4000,cafe_count_1000_price_high,big_church_count_1000,church_count_1000,mosque_count_1000,leisure_count_1000,sport_count_1000,market_count_1000,green_part_1500,prom_part_1500,office_count_1500,office_sqm_1500,trc_count_1500,trc_sqm_1500,cafe_count_1500,cafe_sum_1500_min_price_avg,cafe_sum_1500_max_price_avg,cafe_avg_price_1500,cafe_count_1500_na_price,cafe_count_1500_price_500,cafe_count_1500_price_1000,cafe_count_1500_price_1500,cafe_count_1500_price_2500,cafe_count_1500_price_4000,cafe_count_1500_price_high,big_church_count_1500,church_count_1500,mosque_count_1500,leisure_count_1500,sport_count_1500,market_count_1500,green_part_2000,prom_part_2000,office_count_2000,office_sqm_2000,trc_count_2000,trc_sqm_2000,cafe_count_2000,cafe_sum_2000_min_price_avg,cafe_sum_2000_max_price_avg,cafe_avg_price_2000,cafe_count_2000_na_price,cafe_count_2000_price_500,cafe_count_2000_price_1000,cafe_count_2000_price_1500,cafe_count_2000_price_2500,cafe_count_2000_price_4000,cafe_count_2000_price_high,big_church_count_2000,church_count_2000,mosque_count_2000,leisure_count_2000,sport_count_2000,market_count_2000,green_part_3000,prom_part_3000,office_count_3000,office_sqm_3000,trc_count_3000,trc_sqm_3000,cafe_count_3000,cafe_sum_3000_min_price_avg,cafe_sum_3000_max_price_avg,cafe_avg_price_3000,cafe_count_3000_na_price,cafe_count_3000_price_500,cafe_count_3000_price_1000,cafe_count_3000_price_1500,cafe_count_3000_price_2500,cafe_count_3000_price_4000,cafe_count_3000_price_high,big_church_count_3000,church_count_3000,mosque_count_3000,leisure_count_3000,sport_count_3000,market_count_3000,green_part_5000,prom_part_5000,office_count_5000,office_sqm_5000,trc_count_5000,trc_sqm_5000,cafe_count_5000,cafe_sum_5000_min_price_avg,cafe_sum_5000_max_price_avg,cafe_avg_price_5000,cafe_count_5000_na_price,cafe_count_5000_price_500,cafe_count_5000_price_1000,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
38135,2016-05-30,63.0,43.8,5,5,1,1973.0,3,7.1,3.0,Investment,Chertanovo Severnoe,6206098.885,111874,0.128123,0.08904,4720,2881.0,5,7976,6784.0,5,0,NaN,0,0,10,3,no,0,11,5,no,no,no,no,no,no,no,no,125354,56569,68785,13326,5986,7340,73503,34020,39483,25045,6881,18164,4720,2321,2399,7976,3355,4621,14552,6590,7962,27006,12822,14184,12093,5372,6721,158.0,24.0,0.0,0.0,0.0,3.0,131.0,0.0,0.0,0.0,157.0,0.0,0.0,56.0,93.0,8.0,142,2.974336,1.172278,14.067336,1.172278,0.179474,0.498553,3.013805,0.143238,0.570409,4.922175,1.775991,3.488343,1.298975,15.587705,82.0,5.1124,7.176224,21,0.084615,1.015379,0.800876,no,6.076004,7.784206,10.97325,12.427532,13.037478,0.418628,2,no,5.902435,40,0.853114,no,12.410939,32,7.185025,2,12.515646,4.419469,1.6479,1.086247,6.085476,1.897355,9.926633,4.298827,0.356533,0.566859,8.818686,9.295427,2.054947,2.967581,15.558481,3.284689,5.018347,0.498553,0.304042,0.150085,0.500342,0.498553,0.711156,0.732334,1.84446,3.808958,4.530642,3.07137,0.078852,poor,9.4,0.0,2,112562,2,35000,2,750.0,1250.0,1000.0,0,0,1,1,0,0,0,0,0,0,0,3,0,8.02,7.77,2,112562,4,92100,9,525.0,875.0,700.0,1,4,2,2,0,0,0,1,1,0,0,5,0,6.37,20.38,5,467562,11,390100,29,603.7,1018.52,811.11,2,11,8,6,2,0,0,1,2,0,0,8,0,8.66,28.02,8,480362,13,462600,40,686.49,1121.62,904.05,3,13,8,13,3,0,0,1,3,1,0,9,0,17.38,24.88,12,591362,20,890503,76,630.99,1063.38,847.18,5,26,22,17,6,0,0,2,8,1,0,24,6,25.88,18.02,35,1662474,41,1474430,137,661.11,1115.08,888.1,11,41,42,31,11,1,0,6,26,1,4,42,11

In [ ]:
# df_train_macro = df_train.merge(df_macro, left_on='timestamp', right_on='timestamp', how='left').set_index(df_train.index)
# df_test_macro = df_test.merge(df_macro, left_on='timestamp', right_on='timestamp', how='left').set_index(df_test.index)

### column preprocessing

In [6]:
# macro data missing value 50%  drop 
del df_macro["modern_education_share"]
del df_macro["old_education_build_share"]
del df_macro["provision_retail_space_sqm"]
del df_macro["provision_retail_space_modern_sqm"]
del df_macro["theaters_viewers_per_1000_cap"]
del df_macro["museum_visitis_per_100_cap"]
# odd number 45,34 etc
del df_macro["child_on_acc_pre_school"]

# material 
df_train.loc[df_train['material'].isnull(), 'material'] = 0
df_train['material'] = df_train['material'].replace([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], ['a', 'b', 'c', 'd', 'e', 'f', 'e'])
df_test['material'] = df_test['material'].replace([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], ['a', 'b', 'c', 'd', 'e', 'f', 'e'])

# column rename
df_train.rename(columns={'build_count_1921-1945': 'build_count_1921_1945', 'build_count_1946-1970': 'build_count_1946_1970', 'build_count_1971-1995': 'build_count_1971_1995'}, inplace=True)
df_test.rename(columns={'build_count_1921-1945': 'build_count_1921_1945', 'build_count_1946-1970': 'build_count_1946_1970', 'build_count_1971-1995': 'build_count_1971_1995'}, inplace=True)

## 2. Feature/Data Transformation
- Outlier  
- New feature

## Outlier

In [7]:
# Drop data with extremely big price #
df_train = df_train.drop([2121]) 

# Replace outliers with proper value #
df_train.loc[df_train.state == 33, 'state'] = 3
df_train.loc[df_train['life_sq'] > 1000,     'life_sq']       = np.median(df_train['life_sq'].dropna())
df_train.loc[df_train['kitch_sq'] > 250,     'kitch_sq']      = np.median(df_train['kitch_sq'].dropna())
df_train.loc[df_train['num_room'] > 6,       'num_room']      = np.median(df_train['num_room'].dropna())
df_train.loc[df_train['build_year'] > 2017,  'build_year']    = np.median(df_train['build_year'].dropna())
df_train.loc[df_train['build_year'] < 1800,  'build_year']    = np.median(df_train['build_year'].dropna())
df_train.loc[df_train['floor'] > 50,         'floor']         = np.median(df_train['floor'].dropna())
df_train.loc[df_train['max_floor'] > 60,     'max_floor']     = np.median(df_train['max_floor'].dropna())
df_train.loc[df_train.full_sq == 0, 'full_sq'] = 50
df_train = df_train[df_train.price_doc/df_train.full_sq <= 600000]
df_train = df_train[df_train.price_doc/df_train.full_sq >= 10000]

df_test.loc[df_test['life_sq'] > 1000,     'life_sq']       = np.median(df_test['life_sq'].dropna())
df_test.loc[df_test['kitch_sq'] > 250,     'kitch_sq']      = np.median(df_test['kitch_sq'].dropna())
df_test.loc[df_test['num_room'] > 6,       'num_room']      = np.median(df_test['num_room'].dropna())
df_test.loc[df_test['build_year'] > 2017,  'build_year']    = np.median(df_test['build_year'].dropna())
df_test.loc[df_test['build_year'] < 1800,  'build_year']    = np.median(df_test['build_year'].dropna())
df_test.loc[df_test['floor'] > 50,         'floor']         = np.median(df_test['floor'].dropna())
df_test.loc[df_test['max_floor'] > 60,     'max_floor']     = np.median(df_test['max_floor'].dropna())
df_test.loc[df_test.full_sq == 0, 'full_sq'] = 50

## New features

In [8]:
# Add month and day of week #
df_train['month'] = df_train.timestamp.dt.month
df_train['dow'] = df_train.timestamp.dt.dayofweek

df_test['month'] = df_test.timestamp.dt.month
df_test['dow'] = df_test.timestamp.dt.dayofweek

# Create new features that might help #
df_train['rel_floor'] = df_train['floor'] / df_train['max_floor'].astype(float)
df_train['rel_kitch_sq'] = df_train['kitch_sq'] / df_train['full_sq'].astype(float)

df_test['rel_floor'] = df_test['floor'] / df_test['max_floor'].astype(float)
df_test['rel_kitch_sq'] = df_test['kitch_sq'] / df_test['full_sq'].astype(float)

df_train.apartment_name=df_train.sub_area + df_train['metro_km_avto'].astype(str)
df_test.apartment_name=df_test.sub_area + df_test['metro_km_avto'].astype(str)

df_train['room_size'] = df_train['life_sq'] / df_train['num_room'].astype(float)
df_test['room_size'] = df_test['life_sq'] / df_test['num_room'].astype(float)

# Average price corresponding to sub_area and ID_* #
id_features = ['ID_metro',
    'ID_railroad_station_walk', \
    'ID_big_road1', \
    'ID_big_road2', \
    'ID_railroad_terminal', \
    'ID_bus_terminal']

for id_f in id_features:
    df_test['avg_price_' + id_f] = 0.0
    for val in df_test[id_f].unique():
        if val == 171 and id_f == 'ID_metro':
            df_test.loc[df_test.ID_metro == 171, 'avg_price_ID_metro'] = df_train_macro[df_train.ID_metro == 170]['price_doc'].mean()
            continue
        if val == 132 and id_f == 'ID_railroad_station_walk':
            df_test.loc[df_test.ID_railroad_station_walk == 132, 'avg_price_ID_railroad_station_walk'] = df_train[df_train.ID_railroad_station_walk == 131]['price_doc'].mean()
            continue
        if val == 121 and id_f == 'ID_railroad_station_walk':
            df_test.loc[df_test.ID_railroad_station_walk == 122, 'avg_price_ID_railroad_station_walk'] = df_train[df_train.ID_railroad_station_walk == 131]['price_doc'].mean()
            continue
        avg = df_train[df_train[id_f] == val]['price_doc'].mean()
        df_test.loc[df_test[id_f] == val, 'avg_price_' + id_f] = avg
    del df_test[id_f]
    
for id_f in id_features:
    df_train['avg_price_' + id_f] = 0.0
    for val in df_train[id_f].unique():
        avg = df_train[df_train[id_f] == val]['price_doc'].mean()
        df_train.loc[df_train[id_f] == val, 'avg_price_' + id_f] = avg
    del df_train[id_f]
    
cols = list(df_train.columns.values)
cols.pop(cols.index('price_doc'))
df_train = df_train[cols + ['price_doc']]


df_test['avg_price_sub_area'] = 0.0
df_train['avg_price_sub_area'] = 0.0
for subarea in df_train['sub_area'].unique():
    avg = df_train[df_train['sub_area'] == subarea]['price_doc'].mean()
    df_train.loc[df_train['sub_area'] == subarea, 'avg_price_sub_area'] = avg
    df_test.loc[df_test['sub_area'] == subarea, 'avg_price_sub_area'] = avg
del df_train['sub_area']
del df_test['sub_area']

## 3. Missing Data Imputation
- Regression
- Mean

### Regression

In [9]:
pp.find_missing_data_columns(df_train)

                            missing_column  missing_count
2                                  life_sq           6379
3                                    floor            167
4                                max_floor           9540
6                               build_year          13570
7                                 num_room           9540
8                                 kitch_sq           9540
9                                    state          13526
16                         preschool_quota           6677
19                            school_quota           6674
22                     hospital_beds_raion          14415
66    raion_build_count_with_material_info           4984
67                       build_count_block           4984
68                        build_count_wood           4984
69                       build_count_frame           4984
70                       build_count_brick           4984
71                    build_count_monolith           4984
72                       build_count_panel           4984
73                        build_count_foam           4984
74                        build_count_slag           4984
75                         build_count_mix           4984
76   raion_build_count_with_builddate_info           4984
77                 build_count_before_1920           4984
78                   build_count_1921_1945           4984
79                   build_count_1946_1970           4984
80                   build_count_1971_1995           4984
81                  build_count_after_1995           4984
84                          metro_min_walk             25
85                           metro_km_walk             25
94                railroad_station_walk_km             25
95               railroad_station_walk_min             25
152             cafe_sum_500_min_price_avg          13251
153             cafe_sum_500_max_price_avg          13251
154                     cafe_avg_price_500          13251
175            cafe_sum_1000_min_price_avg           6506
176            cafe_sum_1000_max_price_avg           6506
177                    cafe_avg_price_1000           6506
198            cafe_sum_1500_min_price_avg           4186
199            cafe_sum_1500_max_price_avg           4186
200                    cafe_avg_price_1500           4186
221            cafe_sum_2000_min_price_avg           1722
222            cafe_sum_2000_max_price_avg           1722
223                    cafe_avg_price_2000           1722
244            cafe_sum_3000_min_price_avg            990
245            cafe_sum_3000_max_price_avg            990
246                    cafe_avg_price_3000            990
261                         prom_part_5000            178
267            cafe_sum_5000_min_price_avg            296
268            cafe_sum_5000_max_price_avg            296
269                    cafe_avg_price_5000            296
285                              rel_floor           9544
286                           rel_kitch_sq           9540
287                              room_size          13680

In [10]:
pp.find_missing_data_columns(df_test)

                            missing_column  missing_count
2                                  life_sq           1176
6                               build_year           1049
9                                    state            694
10                            product_type             33
16                         preschool_quota           1596
19                            school_quota           1595
22                     hospital_beds_raion           3418
66    raion_build_count_with_material_info           1218
67                       build_count_block           1218
68                        build_count_wood           1218
69                       build_count_frame           1218
70                       build_count_brick           1218
71                    build_count_monolith           1218
72                       build_count_panel           1218
73                        build_count_foam           1218
74                        build_count_slag           1218
75                         build_count_mix           1218
76   raion_build_count_with_builddate_info           1218
77                 build_count_before_1920           1218
78                   build_count_1921_1945           1218
79                   build_count_1946_1970           1218
80                   build_count_1971_1995           1218
81                  build_count_after_1995           1218
84                          metro_min_walk             34
85                           metro_km_walk             34
94                railroad_station_walk_km             34
95               railroad_station_walk_min             34
152             cafe_sum_500_min_price_avg           3159
153             cafe_sum_500_max_price_avg           3159
154                     cafe_avg_price_500           3159
175            cafe_sum_1000_min_price_avg           1222
176            cafe_sum_1000_max_price_avg           1222
177                    cafe_avg_price_1000           1222
198            cafe_sum_1500_min_price_avg            821
199            cafe_sum_1500_max_price_avg            821
200                    cafe_avg_price_1500            821
214                        green_part_2000             19
221            cafe_sum_2000_min_price_avg            424
222            cafe_sum_2000_max_price_avg            424
223                    cafe_avg_price_2000            424
244            cafe_sum_3000_min_price_avg            182
245            cafe_sum_3000_max_price_avg            182
246                    cafe_avg_price_3000            182
261                         prom_part_5000             92
267            cafe_sum_5000_min_price_avg            128
268            cafe_sum_5000_max_price_avg            128
269                    cafe_avg_price_5000            128
287                              room_size           1176
288                     avg_price_ID_metro              2
289     avg_price_ID_railroad_station_walk              5

In [11]:
pp.find_missing_data_columns(df_macro)

                                missing_column  missing_count
2                                    gdp_quart             90
3                             gdp_quart_growth             90
4                                          cpi             31
5                                          ppi             31
6                                 gdp_deflator            365
7                                balance_trade             31
8                         balance_trade_growth             90
9                                       usdrub              3
10                                      eurrub              3
11                                       brent              3
12                          net_capital_export            396
16  average_provision_of_build_contract_moscow            365
17                                         rts             10
18                                       micex             10
19                               micex_rgbi_tr             10
20                                micex_cbi_tr              1
22                             deposits_growth             31
23                               deposits_rate            414
25                             mortgage_growth            365
27                                         grp            658
28                                  grp_growth           1023
29                              income_per_cap            293
30           real_dispos_income_per_cap_growth            658
31                                      salary            293
32                               salary_growth            658
34                       retail_trade_turnover            293
35               retail_trade_turnover_per_cap            293
36                retail_trade_turnover_growth            293
37                                 labor_force            293
38                                unemployment            293
39                                  employment            293
40                invest_fixed_capital_per_cap            293
41                         invest_fixed_assets            293
42                    profitable_enterpr_share            658
43                  unprofitable_enterpr_share            658
44                          share_own_revenues            658
45                       overdue_wages_per_cap            658
46                             fin_res_per_cap            658
47                      marriages_per_1000_cap            658
48                                divorce_rate            658
49                          construction_value            658
50                    invest_fixed_assets_phys            658
51                        pop_natural_increase            293
52                               pop_migration            658
53                               pop_total_inc            658
54                                  childbirth            293
55                                   mortality            293
56                            housing_fund_sqm            658
57                         lodging_sqm_per_cap            658
58                           water_pipes_share            658
59                                 baths_share            658
60                              sewerage_share            658
61                                   gas_share            658
62                             hot_water_share            658
63                        electric_stove_share            658
64                               heating_share            658
65                             old_house_share            658
66                            average_life_exp            293
67               infant_mortarity_per_1000_cap            658
68                 perinatal_mort_per_1000_cap            658
69                        incidence_population            658
70                       rent_price_4+room_bus            273
71                        rent_price_3room_bus            273
72                        rent_price_2room_bus            273
73                        rent_price_1room_bus            273
74                        rent_price_3room_eco            273
75                        rent_price_2room_eco            273
76                        rent_price_1room_eco            273
77      load_of_teachers_preschool_per_teacher           1023
78         load_of_teachers_school_per_teacher            293
79                     students_state_oneshift            658
80                           provision_doctors            658
81                             provision_nurse            293
82                             load_on_doctors            293
83                               power_clinics            658
84             hospital_beds_available_per_cap           1023
85             hospital_bed_occupancy_per_year           1023
86                   turnover_catering_per_cap            293
87         seats_theather_rfmin_per_100000_cap            293
88                            bandwidth_sports            658
89                 population_reg_sports_share           1023
90                   students_reg_sports_share           1023
91                             apartment_build            658
92                          apartment_fund_sqm            658

In [13]:
df_train.replace([np.inf, -np.inf], np.nan, inplace=True)
df_test.replace([np.inf, -np.inf], np.nan, inplace=True)
df_macro.replace([np.inf, -np.inf], np.nan, inplace=True)
df_train._get_numeric_data()[df_train._get_numeric_data() < 0] = 0
df_test._get_numeric_data()[df_test._get_numeric_data() < 0] = 0
df_macro._get_numeric_data()[df_macro._get_numeric_data() < 0] = 0

In [14]:
pp.impute_by_regression(df_train, 4, 0.3)
pp.impute_by_regression2(df_test, 4, 0.3)
pp.impute_by_regression2(df_macro, 4, 0.3)
# imputation
pp.impute_num_mode(df_train)
pp.impute_num_mode(df_test)
pp.impute_num_mode(df_macro)
# pp.imput_cat_mode(df_train_macro)
# pp.imput_cat_mode(df_test_macro)

In [15]:
pp.find_missing_data_columns(df_train)

Empty DataFrame
Columns: [missing_column, missing_count]
Index: []

In [16]:
pp.find_missing_data_columns(df_test)

   missing_column  missing_count
10   product_type             33

In [17]:
pp.find_missing_data_columns(df_macro)

Empty DataFrame
Columns: [missing_column, missing_count]
Index: []

# 4. Dimensionality Reduction

## Features with Bad or Constant Data

In [18]:
# Features with high correlation with other #
features_to_remove = [
    'children_preschool', 'children_school', 'male_f', \
    'female_f', 'young_male', 'young_female', 'work_male', \
    'work_female', 'ekder_male', 'ekder_female',\
    '0_6_all', '0_6_male', '0_6_female',\
    '7_14_all', '7_14_male', '7_14_female', '0_17_male', '0_17_female',\
    '16_29_male', '16_29_female', '0_13_all', '0_13_male', '0_13_female',\
    'metro_km_walk', 'railroad_station_walk_km',\
    'railroad_station_avto_km', 'public_transport_station_km' \
]
for f in features_to_remove:
    del df_train[f]
    del df_test[f]

In [19]:
# Constant features #
consts = [col for col in df_train.columns if len(df_train[col].value_counts().index) == 1]
for const in consts:
    del df_train[const]
    del df_test[const]

## Multicollinearity and Variance Inflation Factor

In [20]:
# Low correlation with price #
corr_limit = 0.1
for column in df_train._get_numeric_data().columns.drop('price_doc').values:
    if abs(df_train[column].corr(df_train['price_doc'])) < corr_limit:
        df_train = df_train.drop(column, axis=1)
        if column in df_test.columns.values:
            df_test = df_test.drop(column, axis=1)

In [21]:
# Calculate VIF #
df_train[df_train==np.inf]=np.nan
df_train.fillna(df_train.mean(), inplace=True)
categorial_ivs = set(df_train.columns.drop('timestamp')) - set(df_train._get_numeric_data().columns)
numeric_ivs = df_train._get_numeric_data().columns.drop('price_doc')
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(
    df_train[numeric_ivs].values, i) for i in range(df_train[numeric_ivs].shape[1])]
vif["features"] = df_train[numeric_ivs].columns

In [22]:
list(vif.loc[vif['VIF Factor'] == np.inf].features)

['raion_popul',
 'young_all',
 'work_all',
 'ekder_all',
 'cafe_count_3000',
 'cafe_count_3000_na_price',
 'cafe_count_3000_price_500',
 'cafe_count_3000_price_1000',
 'cafe_count_3000_price_1500',
 'cafe_count_3000_price_2500',
 'cafe_count_3000_price_4000',
 'cafe_count_3000_price_high',
 'cafe_count_5000',
 'cafe_count_5000_na_price',
 'cafe_count_5000_price_500',
 'cafe_count_5000_price_1000',
 'cafe_count_5000_price_1500',
 'cafe_count_5000_price_2500',
 'cafe_count_5000_price_4000',
 'cafe_count_5000_price_high']

In [25]:
# Calculate VIF #
df_macro[df_macro==np.inf]=np.nan
df_macro.fillna(df_macro.mean(), inplace=True)
categorial_ivs = set(df_macro.columns.drop('timestamp')) - set(df_macro._get_numeric_data().columns)
numeric_ivs = df_macro._get_numeric_data().columns
vif2 = pd.DataFrame()
vif2["VIF Factor"] = [variance_inflation_factor(
    df_macro[numeric_ivs].values, i) for i in range(df_macro[numeric_ivs].shape[1])]
vif2["features"] = df_macro[numeric_ivs].columns

In [28]:
list(vif2.loc[vif2['VIF Factor'] == np.inf].features)

['gdp_deflator',
 'gdp_annual',
 'gdp_annual_growth',
 'grp',
 'grp_growth',
 'real_dispos_income_per_cap_growth',
 'salary',
 'salary_growth',
 'retail_trade_turnover',
 'retail_trade_turnover_per_cap',
 'retail_trade_turnover_growth',
 'labor_force',
 'unemployment',
 'employment',
 'invest_fixed_capital_per_cap',
 'invest_fixed_assets',
 'profitable_enterpr_share',
 'unprofitable_enterpr_share',
 'share_own_revenues',
 'overdue_wages_per_cap',
 'fin_res_per_cap',
 'marriages_per_1000_cap',
 'divorce_rate',
 'construction_value',
 'invest_fixed_assets_phys',
 'pop_natural_increase',
 'pop_migration',
 'pop_total_inc',
 'childbirth',
 'mortality',
 'housing_fund_sqm',
 'lodging_sqm_per_cap',
 'water_pipes_share',
 'baths_share',
 'sewerage_share',
 'gas_share',
 'hot_water_share',
 'electric_stove_share',
 'heating_share',
 'old_house_share',
 'average_life_exp',
 'infant_mortarity_per_1000_cap',
 'perinatal_mort_per_1000_cap',
 'incidence_population',
 'load_of_teachers_preschool_per_teacher',
 'load_of_teachers_school_per_teacher',
 'students_state_oneshift',
 'provision_doctors',
 'provision_nurse',
 'load_on_doctors',
 'power_clinics',
 'hospital_beds_available_per_cap',
 'hospital_bed_occupancy_per_year',
 'turnover_catering_per_cap',
 'seats_theather_rfmin_per_100000_cap',
 'bandwidth_sports',
 'population_reg_sports_share',
 'students_reg_sports_share',
 'apartment_build',
 'apartment_fund_sqm']

In [29]:
# Features with VIF greater than np.inf
features_to_remove = [
 'raion_popul',
 'young_all',
 'work_all',
 'ekder_all',
 'cafe_count_3000',
 'cafe_count_3000_na_price',
 'cafe_count_3000_price_500',
 'cafe_count_3000_price_1000',
 'cafe_count_3000_price_1500',
 'cafe_count_3000_price_2500',
 'cafe_count_3000_price_4000',
 'cafe_count_3000_price_high',
 'cafe_count_5000',
 'cafe_count_5000_na_price',
 'cafe_count_5000_price_500',
 'cafe_count_5000_price_1000',
 'cafe_count_5000_price_1500',
 'cafe_count_5000_price_2500',
 'cafe_count_5000_price_4000',
 'cafe_count_5000_price_high',
]

for f in features_to_remove:
    if f in df_train:
        del df_train[f]
        del df_test[f]
        
features_to_remove2 = [
 'gdp_deflator',
 'gdp_annual',
 'gdp_annual_growth',
 'grp',
 'grp_growth',
 'real_dispos_income_per_cap_growth',
 'salary',
 'salary_growth',
 'retail_trade_turnover',
 'retail_trade_turnover_per_cap',
 'retail_trade_turnover_growth',
 'labor_force',
 'unemployment',
 'employment',
 'invest_fixed_capital_per_cap',
 'invest_fixed_assets',
 'profitable_enterpr_share',
 'unprofitable_enterpr_share',
 'share_own_revenues',
 'overdue_wages_per_cap',
 'fin_res_per_cap',
 'marriages_per_1000_cap',
 'divorce_rate',
 'construction_value',
 'invest_fixed_assets_phys',
 'pop_natural_increase',
 'pop_migration',
 'pop_total_inc',
 'childbirth',
 'mortality',
 'housing_fund_sqm',
 'lodging_sqm_per_cap',
 'water_pipes_share',
 'baths_share',
 'sewerage_share',
 'gas_share',
 'hot_water_share',
 'electric_stove_share',
 'heating_share',
 'old_house_share',
 'average_life_exp',
 'infant_mortarity_per_1000_cap',
 'perinatal_mort_per_1000_cap',
 'incidence_population',
 'load_of_teachers_preschool_per_teacher',
 'load_of_teachers_school_per_teacher',
 'students_state_oneshift',
 'provision_doctors',
 'provision_nurse',
 'load_on_doctors',
 'power_clinics',
 'hospital_beds_available_per_cap',
 'hospital_bed_occupancy_per_year',
 'turnover_catering_per_cap',
 'seats_theather_rfmin_per_100000_cap',
 'bandwidth_sports',
 'population_reg_sports_share',
 'students_reg_sports_share',
 'apartment_build',
 'apartment_fund_sqm'
]

for f in features_to_remove2:
    if f in df_macro:
        del df_macro[f]

In [30]:
df_train_macro = df_train.merge(df_macro, left_on='timestamp', right_on='timestamp', how='left').set_index(df_train.index)
df_test_macro = df_test.merge(df_macro, left_on='timestamp', right_on='timestamp', how='left').set_index(df_test.index)
cols = list(df_train_macro.columns.values)
cols.pop(cols.index('price_doc'))
df_train_macro = df_train_macro[cols + ['price_doc']]
df_train_macro.to_csv('../code/data/train_macro6.csv', header=True, index=True)
df_test_macro.to_csv('../code/data/test_macro6.csv', header=True, index=True)