In [3]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [1]:
df_train = pd.read_csv('./data/train.csv', index_col=0, parse_dates=['timestamp'])

In [4]:
df_train.isnull().sum()

timestamp                                    0
full_sq                                      0
life_sq                                   6383
floor                                      167
max_floor                                 9572
material                                  9572
build_year                               13605
num_room                                  9572
kitch_sq                                  9572
state                                    13559
product_type                                 0
sub_area                                     0
area_m                                       0
raion_popul                                  0
green_zone_part                              0
indust_part                                  0
children_preschool                           0
preschool_quota                           6688
preschool_education_centers_raion            0
children_school                              0
school_quota                              6685
school_education_centers_raion               0
school_education_centers_top_20_raion        0
hospital_beds_raion                      14441
healthcare_centers_raion                     0
university_top_20_raion                      0
sport_objects_raion                          0
additional_education_raion                   0
culture_objects_top_25                       0
culture_objects_top_25_raion                 0
shopping_centers_raion                       0
office_raion                                 0
thermal_power_plant_raion                    0
incineration_raion                           0
oil_chemistry_raion                          0
radiation_raion                              0
railroad_terminal_raion                      0
big_market_raion                             0
nuclear_reactor_raion                        0
detention_facility_raion                     0
full_all                                     0
male_f                                       0
female_f                                     0
young_all                                    0
young_male                                   0
young_female                                 0
work_all                                     0
work_male                                    0
work_female                                  0
ekder_all                                    0
ekder_male                                   0
ekder_female                                 0
0_6_all                                      0
0_6_male                                     0
0_6_female                                   0
7_14_all                                     0
7_14_male                                    0
7_14_female                                  0
0_17_all                                     0
0_17_male                                    0
0_17_female                                  0
16_29_all                                    0
16_29_male                                   0
16_29_female                                 0
0_13_all                                     0
0_13_male                                    0
0_13_female                                  0
raion_build_count_with_material_info      4991
build_count_block                         4991
build_count_wood                          4991
build_count_frame                         4991
build_count_brick                         4991
build_count_monolith                      4991
build_count_panel                         4991
build_count_foam                          4991
build_count_slag                          4991
build_count_mix                           4991
raion_build_count_with_builddate_info     4991
build_count_before_1920                   4991
build_count_1921-1945                     4991
build_count_1946-1970                     4991
build_count_1971-1995                     4991
build_count_after_1995                    4991
ID_metro                                     0
metro_min_avto                               0
metro_km_avto                                0
metro_min_walk                              25
metro_km_walk                               25
kindergarten_km                              0
school_km                                    0
park_km                                      0
green_zone_km                                0
industrial_km                                0
water_treatment_km                           0
cemetery_km                                  0
incineration_km                              0
railroad_station_walk_km                    25
railroad_station_walk_min                   25
ID_railroad_station_walk                    25
railroad_station_avto_km                     0
railroad_station_avto_min                    0
ID_railroad_station_avto                     0
public_transport_station_km                  0
public_transport_station_min_walk            0
water_km                                     0
water_1line                                  0
mkad_km                                      0
ttk_km                                       0
sadovoe_km                                   0
bulvar_ring_km                               0
kremlin_km                                   0
big_road1_km                                 0
ID_big_road1                                 0
big_road1_1line                              0
big_road2_km                                 0
ID_big_road2                                 0
railroad_km                                  0
railroad_1line                               0
zd_vokzaly_avto_km                           0
ID_railroad_terminal                         0
bus_terminal_avto_km                         0
ID_bus_terminal                              0
oil_chemistry_km                             0
nuclear_reactor_km                           0
radiation_km                                 0
power_transmission_line_km                   0
thermal_power_plant_km                       0
ts_km                                        0
big_market_km                                0
market_shop_km                               0
fitness_km                                   0
swim_pool_km                                 0
ice_rink_km                                  0
stadium_km                                   0
basketball_km                                0
hospice_morgue_km                            0
detention_facility_km                        0
public_healthcare_km                         0
university_km                                0
workplaces_km                                0
shopping_centers_km                          0
office_km                                    0
additional_education_km                      0
preschool_km                                 0
big_church_km                                0
church_synagogue_km                          0
mosque_km                                    0
theater_km                                   0
museum_km                                    0
exhibition_km                                0
catering_km                                  0
ecology                                      0
green_part_500                               0
prom_part_500                                0
office_count_500                             0
office_sqm_500                               0
trc_count_500                                0
trc_sqm_500                                  0
cafe_count_500                               0
cafe_sum_500_min_price_avg               13281
cafe_sum_500_max_price_avg               13281
cafe_avg_price_500                       13281
cafe_count_500_na_price                      0
cafe_count_500_price_500                     0
cafe_count_500_price_1000                    0
cafe_count_500_price_1500                    0
cafe_count_500_price_2500                    0
cafe_count_500_price_4000                    0
cafe_count_500_price_high                    0
big_church_count_500                         0
church_count_500                             0
mosque_count_500                             0
leisure_count_500                            0
sport_count_500                              0
market_count_500                             0
green_part_1000                              0
prom_part_1000                               0
office_count_1000                            0
office_sqm_1000                              0
trc_count_1000                               0
trc_sqm_1000                                 0
cafe_count_1000                              0
cafe_sum_1000_min_price_avg               6524
cafe_sum_1000_max_price_avg               6524
cafe_avg_price_1000                       6524
cafe_count_1000_na_price                     0
cafe_count_1000_price_500                    0
cafe_count_1000_price_1000                   0
cafe_count_1000_price_1500                   0
cafe_count_1000_price_2500                   0
cafe_count_1000_price_4000                   0
cafe_count_1000_price_high                   0
big_church_count_1000                        0
church_count_1000                            0
mosque_count_1000                            0
leisure_count_1000                           0
sport_count_1000                             0
market_count_1000                            0
green_part_1500                              0
prom_part_1500                               0
office_count_1500                            0
office_sqm_1500                              0
trc_count_1500                               0
trc_sqm_1500                                 0
cafe_count_1500                              0
cafe_sum_1500_min_price_avg               4199
cafe_sum_1500_max_price_avg               4199
cafe_avg_price_1500                       4199
cafe_count_1500_na_price                     0
cafe_count_1500_price_500                    0
cafe_count_1500_price_1000                   0
cafe_count_1500_price_1500                   0
cafe_count_1500_price_2500                   0
cafe_count_1500_price_4000                   0
cafe_count_1500_price_high                   0
big_church_count_1500                        0
church_count_1500                            0
mosque_count_1500                            0
leisure_count_1500                           0
sport_count_1500                             0
market_count_1500                            0
green_part_2000                              0
prom_part_2000                               0
office_count_2000                            0
office_sqm_2000                              0
trc_count_2000                               0
trc_sqm_2000                                 0
cafe_count_2000                              0
cafe_sum_2000_min_price_avg               1725
cafe_sum_2000_max_price_avg               1725
cafe_avg_price_2000                       1725
cafe_count_2000_na_price                     0
cafe_count_2000_price_500                    0
cafe_count_2000_price_1000                   0
cafe_count_2000_price_1500                   0
cafe_count_2000_price_2500                   0
cafe_count_2000_price_4000                   0
cafe_count_2000_price_high                   0
big_church_count_2000                        0
church_count_2000                            0
mosque_count_2000                            0
leisure_count_2000                           0
sport_count_2000                             0
market_count_2000                            0
green_part_3000                              0
prom_part_3000                               0
office_count_3000                            0
office_sqm_3000                              0
trc_count_3000                               0
trc_sqm_3000                                 0
cafe_count_3000                              0
cafe_sum_3000_min_price_avg                991
cafe_sum_3000_max_price_avg                991
cafe_avg_price_3000                        991
cafe_count_3000_na_price                     0
cafe_count_3000_price_500                    0
cafe_count_3000_price_1000                   0
cafe_count_3000_price_1500                   0
cafe_count_3000_price_2500                   0
cafe_count_3000_price_4000                   0
cafe_count_3000_price_high                   0
big_church_count_3000                        0
church_count_3000                            0
mosque_count_3000                            0
leisure_count_3000                           0
sport_count_3000                             0
market_count_3000                            0
green_part_5000                              0
prom_part_5000                             178
office_count_5000                            0
office_sqm_5000                              0
trc_count_5000                               0
trc_sqm_5000                                 0
cafe_count_5000                              0
cafe_sum_5000_min_price_avg                297
cafe_sum_5000_max_price_avg                297
cafe_avg_price_5000                        297
cafe_count_5000_na_price                     0
cafe_count_5000_price_500                    0
cafe_count_5000_price_1000                   0
cafe_count_5000_price_1500                   0
cafe_count_5000_price_2500                   0
cafe_count_5000_price_4000                   0
cafe_count_5000_price_high                   0
big_church_count_5000                        0
church_count_5000                            0
mosque_count_5000                            0
leisure_count_5000                           0
sport_count_5000                             0
market_count_5000                            0
price_doc                                    0
dtype: int64

In [5]:
def find_missing_data_columns(df):
    missing_df = df.isnull().sum(axis=0).reset_index()
    missing_df.columns = ['missing_column', 'missing_count']
    missing_df = missing_df.loc[missing_df['missing_count'] > 0]
    return missing_df

In [6]:
find_missing_data_columns(df_train)

                            missing_column  missing_count
2                                  life_sq           6383
3                                    floor            167
4                                max_floor           9572
5                                 material           9572
6                               build_year          13605
7                                 num_room           9572
8                                 kitch_sq           9572
9                                    state          13559
17                         preschool_quota           6688
20                            school_quota           6685
23                     hospital_beds_raion          14441
67    raion_build_count_with_material_info           4991
68                       build_count_block           4991
69                        build_count_wood           4991
70                       build_count_frame           4991
71                       build_count_brick           4991
72                    build_count_monolith           4991
73                       build_count_panel           4991
74                        build_count_foam           4991
75                        build_count_slag           4991
76                         build_count_mix           4991
77   raion_build_count_with_builddate_info           4991
78                 build_count_before_1920           4991
79                   build_count_1921-1945           4991
80                   build_count_1946-1970           4991
81                   build_count_1971-1995           4991
82                  build_count_after_1995           4991
86                          metro_min_walk             25
87                           metro_km_walk             25
96                railroad_station_walk_km             25
97               railroad_station_walk_min             25
98                ID_railroad_station_walk             25
159             cafe_sum_500_min_price_avg          13281
160             cafe_sum_500_max_price_avg          13281
161                     cafe_avg_price_500          13281
182            cafe_sum_1000_min_price_avg           6524
183            cafe_sum_1000_max_price_avg           6524
184                    cafe_avg_price_1000           6524
205            cafe_sum_1500_min_price_avg           4199
206            cafe_sum_1500_max_price_avg           4199
207                    cafe_avg_price_1500           4199
228            cafe_sum_2000_min_price_avg           1725
229            cafe_sum_2000_max_price_avg           1725
230                    cafe_avg_price_2000           1725
251            cafe_sum_3000_min_price_avg            991
252            cafe_sum_3000_max_price_avg            991
253                    cafe_avg_price_3000            991
268                         prom_part_5000            178
274            cafe_sum_5000_min_price_avg            297
275            cafe_sum_5000_max_price_avg            297
276                    cafe_avg_price_5000            297

In [92]:
def imput_by_interpolate(df):
    missing_df = pp.find_missing_data_columns(df)
    for col in missing_df['missing_column']:
        df[col] = df[col].interpolate(mathod='linear')
    return df

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
id,,,,,,,,,,,,,,,,,,,,,
30469,2015-06-30,44,27.0,7.0,9.0,1.0,1975.0,2.0,6.0,3.0,...,15,5,0,15,26,1,2,84,6,7400000
30470,2015-06-30,86,59.0,3.0,9.0,2.0,1935.0,4.0,10.0,3.0,...,313,128,24,98,182,1,82,171,15,25000000
30471,2015-06-30,45,45.5,10.0,20.0,1.0,1969.0,1.0,1.0,1.0,...,1,1,0,2,12,0,1,11,1,6970959
30472,2015-06-30,64,32.0,5.0,15.0,1.0,2003.0,2.0,11.0,2.0,...,22,1,1,6,31,1,4,65,7,13500000
30473,2015-06-30,43,28.0,1.0,9.0,1.0,1968.0,2.0,6.0,2.0,...,5,2,0,7,16,0,9,54,10,5600000

In [93]:
find_missing_data_columns(df_train)

                 missing_column  missing_count
4                     max_floor           7672
5                      material           7672
6                    build_year           8056
7                      num_room           7672
8                      kitch_sq           7672
9                         state           8056
159  cafe_sum_500_min_price_avg              1
160  cafe_sum_500_max_price_avg              1
161          cafe_avg_price_500              1

In [78]:
def impute_by_interpolate(df):
    missing_df = find_missing_data_columns(df)
    for col in missing_df['missing_column']:    
        if not np.issubdtype(df[col].dtype, np.number): continue
        predicted = df[col].interpolate(method='values')
#             correlated_pairs = pick_highly_correlated_IVs(df, col, 0.3, 2)
#             correlated_ivs = list(map(lambda x: x[0], correlated_pairs))
#             correlated_df = df[correlated_ivs + [col]]
            # print(correlated_df)
#             formula = make_statsmodels_ols_formula(list(map(lambda col: col[0], correlated_pairs)),col, True)
#             print(formula)
#             model = sm.OLS.from_formula(formula, data=correlated_df.dropna(subset=correlated_ivs))
#             result = model.fit()
#             result.summary()
#             predicted = result.predict(correlated_df)
#             std = np.sqrt(np.var(result.resid))
#             predicted = predicted.apply(lambda x: x + np.random.normal(loc=0, scale=std))

        df = pd.merge(df, predicted.to_frame('predicted'), left_index=True, right_index=True)
        df[col].fillna(df['predicted'], inplace=True)
        del df['predicted']

In [79]:
impute_by_interpolate(df_train)

In [84]:
df_train['cafe_sum_5000_min_price_avg'] = \
df_train['cafe_sum_5000_min_price_avg'].interpolate(method='values')

In [57]:
missing_df.tail()

                  missing_column  missing_count
253          cafe_avg_price_3000            991
268               prom_part_5000            178
274  cafe_sum_5000_min_price_avg            297
275  cafe_sum_5000_max_price_avg            297
276          cafe_avg_price_5000            297

In [72]:
df_train['prom_part_5000'].isnull().sum()

0

In [71]:
df_train['prom_part_5000'] = \
df_train['prom_part_5000'].interpolate(method='values')

In [58]:
correlated_df.tail()

,area_m,build_count_brick,kindergarten_km,school_km,railroad_station_walk_km,railroad_station_walk_min,railroad_station_avto_km,railroad_station_avto_min,public_transport_station_km,public_transport_station_min_walk,...,museum_km,cafe_sum_2000_min_price_avg,cafe_sum_2000_max_price_avg,cafe_avg_price_2000,cafe_sum_3000_min_price_avg,cafe_sum_3000_max_price_avg,cafe_avg_price_3000,cafe_sum_5000_min_price_avg,cafe_sum_5000_max_price_avg,cafe_avg_price_5000
id,,,,,,,,,,,,,,,,,,,,,
30469,1.005305e+07,20.0,0.132645,0.349899,3.147161,37.765933,3.217988,5.300256,0.093258,1.119101,...,4.836787,635.90,1102.56,869.23,647.89,1112.68,880.28,689.95,1156.08,923.02
30470,7.307411e+06,529.0,0.276256,0.362681,0.902227,10.826720,1.726532,2.242220,0.090712,1.088544,...,1.450108,796.39,1321.69,1059.04,895.84,1476.65,1186.24,887.43,1462.88,1175.16
30471,2.553630e+07,NaN,0.897889,1.234235,3.735666,44.827989,3.735666,4.782323,0.630014,7.560163,...,9.890758,757.14,1285.71,1021.43,700.00,1222.22,961.11,747.37,1263.16,1005.26
30472,6.050065e+06,4.0,0.203020,0.130667,6.895862,82.750340,8.059414,9.128624,0.261528,3.138330,...,4.119706,704.69,1195.31,950.00,681.48,1152.78,917.13,703.20,1182.65,942.92
30473,4.395333e+06,105.0,0.093619,0.378950,2.037754,24.453053,2.037754,3.604917,0.250151,3.001814,...,0.127867,538.46,942.31,740.38,595.65,1054.35,825.00,664.44,1127.78,896.11

In [65]:
correlated_df['cafe_avg_price_3000'].isnull().sum()

0

In [64]:
correlated_df['cafe_avg_price_3000'] = \
correlated_df['cafe_avg_price_3000'].interpolate(method='values')

In [69]:
correlated_df['cafe_avg_price_5000'].isnull().sum()

0

In [68]:
correlated_df['cafe_avg_price_5000'] = \
correlated_df['cafe_avg_price_5000'].interpolate(method='linear')

In [ ]:
numeric_ivs = df_t._get_numeric_data().columns.drop('price_doc')
cate_ivs = list(set(df_tm.columns.drop('timestamp')) - set(df_tm._get_numeric_data().columns))
sh.make_statsmodels_ols_formula(df_t._get_numeric_data().columns.drop('price_doc'), cate_ivs, 'price_doc', True)

In [47]:
def impute_by_regressoin(df, repeat):
    for _ in range(repeat):
        missing_df = find_missing_data_columns(df)
        for col in missing_df['missing_column']:    
            if not np.issubdtype(df[col].dtype, np.number): continue
            correlated_pairs = pick_highly_correlated_IVs(df, col, 0.3, 2)
            correlated_ivs = list(map(lambda x: x[0], correlated_pairs))
            correlated_df = df[correlated_ivs + [col]]
            # print(correlated_df)
            formula = make_statsmodels_ols_formula(list(map(lambda col: col[0], correlated_pairs)),col, True)
            print(formula)
            model = sm.OLS.from_formula(formula, data=correlated_df.dropna(subset=correlated_ivs))
            result = model.fit()
            result.summary()
            predicted = result.predict(correlated_df)
            std = np.sqrt(np.var(result.resid))
            predicted = predicted.apply(lambda x: x + np.random.normal(loc=0, scale=std))

            df = pd.merge(df, predicted.to_frame('predicted'), left_index=True, right_index=True)
            df[col].fillna(df['predicted'], inplace=True)
            del df['predicted']

In [55]:
impute_by_regressoin(df_train, 2)

None

PatsyError: model is missing required outcome variables

In [4]:
def pick_highly_correlated_IVs(df, target_col, min_corr, min_unique_values = 0):
    if not np.issubdtype(df[target_col].dtype, np.number):
        Exception('{}ì€ numeric dataê°€ ì•„ë‹™ë‹ˆë‹¤.'.format(target_col))
    # if len(df[col].value_counts().index) < min_unique_values:
    #     Exception('{}ë¡œ ìƒê´€ê´€ê³„ë¥¼ ê³„ì‚°í•˜ê¸°ì—ëŠ” ìœ ë‹ˆí¬í•œ ê°’ì´ ë„ˆë¬´ ìž‘ìŠµë‹ˆë‹¤.'.format(col))

    corrs = []
    for col in df._get_numeric_data().drop(target_col, axis=1).columns:
        if len(df[col].value_counts().index) < min_unique_values: continue
        corr = abs(df[target_col].corr(df[col]))
        if corr > min_corr:
            corrs.append((col, corr))
    
    return corrs

In [7]:
for _ in range(3):
        missing_df = find_missing_data_columns(df_train)
        for col in missing_df['missing_column']:    
            if not np.issubdtype(df_train[col].dtype, np.number): continue
            correlated_pairs = pick_highly_correlated_IVs(df_train, col, 0.3, 2)
            correlated_ivs = list(map(lambda x: x[0], correlated_pairs))
            correlated_df = df_train[correlated_ivs + [col]]

In [54]:
def make_statsmodels_ols_formula(numeric_ivs, dv, degree=1, scale=True):


#     if len(log_vs) > 0:
#         numeric_ivs = ["np.log({})".format(iv) if iv in log_vs else iv for iv in numeric_ivs ]

    polynomials = []
    if degree > 1:
        for i in range(2, degree + 1):
            if scale:
                polynomials = list(map(lambda iv: 'scale(I({}**{}))'.format(iv, i), numeric_ivs))
            else:
                polynomials = list(map(lambda iv: 'I({}**{})'.format(iv, i), numeric_ivs))
    
    if scale:
        numeric_ivs = ["scale({})".format(iv) if scale else iv for iv in numeric_ivs ]

#     formula = ''
#     if dv in log_vs:
#         formula = 'np.log({}) ~ '.format(dv)
#     else:
#         formula = '{} ~ '.format(dv)
    

#     if len(categorical_ivs) > 0:
#         if len(numeric_ivs) > 0:
#             formula += " + ".join(list(map(lambda iv: 'C({})'.format(iv), categorical_ivs)))
#         else:
#             formula += " + ".join(list(map(lambda iv: 'C({})-1'.format(iv), categorical_ivs)))
    
# #     if len(polynomials) > 0:
#         if len(categorical_ivs) > 0:
#             return  formula + " + " + " + ".join(numeric_ivs) + " + " + " + ".join(polynomials)
#         else:
#             return  formula + " + ".join(numeric_ivs) + " + " + " + ".join(polynomials)
# #     else:
#         if len(categorical_ivs) > 0:
#             return formula + " + " + " + ".join(numeric_ivs)
#         else:
#             return formula + " + ".join(numeric_ivs)

In [17]:
list(map(lambda col: col[0], correlated_pairs))

['area_m',
 'build_count_brick',
 'kindergarten_km',
 'school_km',
 'railroad_station_walk_km',
 'railroad_station_walk_min',
 'railroad_station_avto_km',
 'railroad_station_avto_min',
 'public_transport_station_km',
 'public_transport_station_min_walk',
 'ID_big_road1',
 'railroad_km',
 'market_shop_km',
 'swim_pool_km',
 'ice_rink_km',
 'public_healthcare_km',
 'university_km',
 'workplaces_km',
 'shopping_centers_km',
 'office_km',
 'additional_education_km',
 'preschool_km',
 'big_church_km',
 'museum_km',
 'cafe_sum_2000_min_price_avg',
 'cafe_sum_2000_max_price_avg',
 'cafe_avg_price_2000',
 'cafe_sum_3000_min_price_avg',
 'cafe_sum_3000_max_price_avg',
 'cafe_avg_price_3000',
 'cafe_sum_5000_min_price_avg',
 'cafe_sum_5000_max_price_avg']

In [26]:
list(map(lambda col: col[0], correlated_pairs))

['area_m',
 'build_count_brick',
 'kindergarten_km',
 'school_km',
 'railroad_station_walk_km',
 'railroad_station_walk_min',
 'railroad_station_avto_km',
 'railroad_station_avto_min',
 'public_transport_station_km',
 'public_transport_station_min_walk',
 'ID_big_road1',
 'railroad_km',
 'market_shop_km',
 'swim_pool_km',
 'ice_rink_km',
 'public_healthcare_km',
 'university_km',
 'workplaces_km',
 'shopping_centers_km',
 'office_km',
 'additional_education_km',
 'preschool_km',
 'big_church_km',
 'museum_km',
 'cafe_sum_2000_min_price_avg',
 'cafe_sum_2000_max_price_avg',
 'cafe_avg_price_2000',
 'cafe_sum_3000_min_price_avg',
 'cafe_sum_3000_max_price_avg',
 'cafe_avg_price_3000',
 'cafe_sum_5000_min_price_avg',
 'cafe_sum_5000_max_price_avg']

In [28]:
correlated_df.columns

Index(['area_m', 'build_count_brick', 'kindergarten_km', 'school_km',
       'railroad_station_walk_km', 'railroad_station_walk_min',
       'railroad_station_avto_km', 'railroad_station_avto_min',
       'public_transport_station_km', 'public_transport_station_min_walk',
       'ID_big_road1', 'railroad_km', 'market_shop_km', 'swim_pool_km',
       'ice_rink_km', 'public_healthcare_km', 'university_km', 'workplaces_km',
       'shopping_centers_km', 'office_km', 'additional_education_km',
       'preschool_km', 'big_church_km', 'museum_km',
       'cafe_sum_2000_min_price_avg', 'cafe_sum_2000_max_price_avg',
       'cafe_avg_price_2000', 'cafe_sum_3000_min_price_avg',
       'cafe_sum_3000_max_price_avg', 'cafe_avg_price_3000',
       'cafe_sum_5000_min_price_avg', 'cafe_sum_5000_max_price_avg',
       'cafe_avg_price_5000'],
      dtype='object')

In [31]:
list(map(lambda area_m: area_m[0], correlated_pairs))

['area_m',
 'build_count_brick',
 'kindergarten_km',
 'school_km',
 'railroad_station_walk_km',
 'railroad_station_walk_min',
 'railroad_station_avto_km',
 'railroad_station_avto_min',
 'public_transport_station_km',
 'public_transport_station_min_walk',
 'ID_big_road1',
 'railroad_km',
 'market_shop_km',
 'swim_pool_km',
 'ice_rink_km',
 'public_healthcare_km',
 'university_km',
 'workplaces_km',
 'shopping_centers_km',
 'office_km',
 'additional_education_km',
 'preschool_km',
 'big_church_km',
 'museum_km',
 'cafe_sum_2000_min_price_avg',
 'cafe_sum_2000_max_price_avg',
 'cafe_avg_price_2000',
 'cafe_sum_3000_min_price_avg',
 'cafe_sum_3000_max_price_avg',
 'cafe_avg_price_3000',
 'cafe_sum_5000_min_price_avg',
 'cafe_sum_5000_max_price_avg']

In [36]:
features_to_log = []
for f in df_train._get_numeric_data().columns:
    skewness = sp.stats.skew(df_train[f])
    if skewness > 1:
        features_to_log.append(f)

for col in df_train._get_numeric_data().columns:
    if col != 'price_doc':
        min_val_train = min(df_train[col])
        min_val_test  = min(df_test[col])
        min_val = min(min_val_train, min_val_test)
        if min_val <= 0:
            df_train[col] += (np.abs(min_val) + 0.1)
            df_test[col]  += (np.abs(min_val) + 0.1)
    else:
        min_val_train = min(df_train[col])
        if min_val_train <= 0:
            df_train[col] += (np.abs(min_val_train) + 0.1)

In [41]:
 # print(correlated_df)
for col in correlated_df.columns:
    print(col)
    formula = make_statsmodels_ols_formula(list(map(lambda col: col[0], correlated_pairs)), col, log_vs=[], True)
    print(formula)
# model = sm.OLS.from_formula(formula, data=correlated_df.dropna(subset=correlated_ivs))
# result = model.fit()
# result.summary()
# predicted = result.predict(correlated_df)
# std = np.sqrt(np.var(result.resid))
# predicted = predicted.apply(lambda x: x + np.random.normal(loc=0, scale=std))

SyntaxError: positional argument follows keyword argument (<ipython-input-41-65668b2ebf4f>, line 4)